{% case block.settings.button_variant %}
  {% when "primary" %}
    {%- if block.settings.url -%}
      <a class="button button-padding btn-primary" href="{{block.settings.button_url}}">
        {{block.settings.button_label}}
      </a>
    {%- else -%}
      <button class="button button-padding btn-primary">
        {{block.settings.button_label}}</button>
    {%- endif -%}


  {% when "secondary" %}
    {%- if block.settings.url -%}
      <a class="button button-padding btn-secondary" href="{{block.settings.button_url}}">
        {{block.settings.button_label}}
      </a>
    {%- else -%}
      <button class="button button-padding btn-secondary">
        {{block.settings.button_label}}</button>
    {%- endif -%}
  {% else %}
    {%- if block.settings.url -%}
      <a class="button button-padding btn-minimal" href="{{block.settings.button_url}}">
        {{block.settings.button_label}}
      </a>
    {%- else -%}
      <button class="button button-padding btn-minimal">
        {{block.settings.button_label}}</button>
    {%- endif -%}
{% endcase %}

<style>
  .button-padding {
    margin-top: {{ block.settings.button_margin }}px;
  }
</style>