<!-- navigation desktop -->
<div class="hidden mx-auto md:flex max-w-7xl ">

  <nav class="flex items-center justify-between w-full gap-20 px-5 py-10 mx-auto items center navigation-text-color">

    <ul class="flex items-center gap-20">
      <li>
        <div class="w-16">
          {%- if section.settings.logo != blank -%}

            <a href="/"><img src="{{section.settings.logo | image_url}}" alt="{{section.settings.logo.alt}}"></a>
          {%- else -%}
            <a href="/">{{ 'image' | placeholder_svg_tag }}</a>
          {%- endif -%}
        </div>
      </li>
      {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
      <li data-nested="{{forindex}}" class="relative {% if page.url  == link.url %}  underline underline-offset-4 {% endif   %} flex items-center gap-1 hover:duration-75 hover:transition-all hover:underline hover:underline-offset-4">

            <div>
              <p class="cursor-pointer menu">{{ link.title }}</p>
              <ul class="absolute min-w-[11rem] px-4 py-1 space-y-2 scale-y-0 md:!h-auto -left-3 nested-menu bg-main-primary">
                {% for childlink in linklists[child_list_handle].links %}
                  <li class="hover:duration-75 hover:transition-all hover:underline  {% if page.url  == childlink.url %}  underline underline-offset-4 {% elsif blog.url == childlink.url %} tunderline underline-offset-4 {% endif   %} hover:underline-offset-4">
                    <a class="menu" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div data-chevron class="w-4 mt-1 cursor-pointer body-text-color-beige">
              {% render 'arrow-small' %}
            </div>
          </li>
        {% else %}
          <li class="hover:duration-75 hover:transition-all hover:underline hover:underline-offset-4 {% if page.url contains link.url %} underline underline-offset-4 {% elsif collection.url contains link.url %}underline underline-offset-4
              {% endif   %}">
            <a class="menu" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </ul>
  <div>
    <div class="relative w-6">
      <a href="/cart"><img
          class="w-full"
          src="{{'cart-bag.svg' | asset_url}}"
          alt="cart icon"></a>
      <div class="absolute flex items-center justify-center w-5 h-5 text-xs text-center text-white border border-black rounded-full bg-main-accent -bottom-2 -right-1">
        <span>
          {%- if cart.item_count <= 0 -%}
            0
          {%- else -%}

            {{ cart.item_count }}
          {%- endif -%}
        </span>
      </div>
    </div>

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <li>
          <a href="/account">account</a>
        </li>
        {{ 'log out' | customer_logout_link }}
      {% else %}
        {{ 'log in ' | customer_login_link }}
        {{ 'register' | customer_register_link }}
      {% endif %}
    {% endif %}
  </div>

</nav></div><!-- *prettier ignore --><!-- !navigation mobile --><div class="sticky top-0 left-0 z-10 w-full md:hidden bg-orange-50">
<nav class="flex items-center justify-between gap-20 px-2 py-2 mb-2 navigation-text-color">
  <!-- logo -->
  <div class="w-16">
    {%- if section.settings.logo != blank -%}

      <a href="/"><img src="{{section.settings.logo | image_url}}" alt="{{section.settings.logo.alt}}"></a>
    {%- else -%}
      <a href="/">{{ 'image' | placeholder_svg_tag }}</a>
    {%- endif -%}
  </div>
  <!-- menu -->
  <div id="nav-menu" class="fixed flex justify-center items-center top-0 z-10 w-full h-full bg-main-accent right-[-100%] p-11 ">

    <ul class="flex flex-col gap-12 ">

      {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li data-nested="{{forindex}}" class="relative flex flex-col items-start gap-1 h2">

            <div class="flex items-center gap-2">
              <p class="cursor-pointer body-text-color-beige ">{{ link.title }}</p>
              <div data-chevron class="mt-2 cursor-pointer w-7 body-text-color-beige [&>svg>path]:fill-main-primary">
                {% render 'arrow-small' %}
              </div>
            </div>


            <ul class="h-0 px-4 py-1 space-y-2 scale-y-0 -left-3 nested-menu">
              {% for childlink in linklists[child_list_handle].links %}

                <li class="">
                  <a class="h3 text-main-primary" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>

          </li>
          {% else %}
            <li>
              <a class="body-text-color-beige h2" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}


      </ul>
      <button id="nav-close" class="absolute w-8 text-lg cursor-pointer body-text-color-beige top-5 right-2">{% render 'close' %}</button>
    </div>
    <div class="flex h-full gap-5">
      <!-- kurv -->
      <div class="nav_shop">
        <div class="relative w-6">
          <a href="/cart"><img
              class="w-full"
              src="{{'cart-bag.svg' | asset_url}}"
              alt="cart icon"></a>
          <div class="absolute flex items-center justify-center w-5 h-5 text-xs text-center text-white border border-black rounded-full bg-main-accent -bottom-2 -right-1">
            <span>
              {%- if cart.item_count <= 0 -%}
                0
              {%- else -%}

                {{ cart.item_count }}
              {%- endif -%}
            </span>
          </div>
        </div>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              <a href="/account">account</a>
            </li>
            {{ 'log out' | customer_logout_link }}
          {% else %}
            {{ 'log in ' | customer_login_link }}
            {{ 'register' | customer_register_link }}
          {% endif %}
        {% endif %}
      </div>
      <div id="nav-toggle" class="w-8 cursor-pointer nav_toggle">{% render "burger" %}</div>
    </div>
  </nav>
</div>


<script defer>
  let nestedMenu = document.querySelectorAll("[data-nested]");
  nestedMenu.forEach((menu, idx)=>{menu.addEventListener("click", ()=>{
  let nestedMenuWrapper = menu.querySelector(".nested-menu");
  let chevron = menu.querySelector("[data-chevron]");
  chevron.classList.toggle("rotate-180")
  nestedMenuWrapper.classList.toggle("scale-y-100");
  nestedMenuWrapper.classList.toggle("!h-full");
  nestedMenuWrapper.classList.toggle("!opacity-1");
  })})

  // burger menu
  let navMenu = document.querySelector('#nav-menu');
  let navToggle = document.querySelector('#nav-toggle');
  let navClose = document.querySelector('#nav-close');

  // menu show
  if(navToggle){
      navToggle.addEventListener('click', () =>{
          navMenu.classList.add('right-0')
      })
  }

  // menu hidden
  if(navClose){
      navClose.addEventListener('click', () =>{
          navMenu.classList.remove('right-0')
      })
  }</script>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }
    ]
  }
{% endschema %}