  <nav class="flex items-center justify-between gap-20 px-5 py-10 items center navigation-text-color">

  <ul class="flex items-center gap-20">
    <li><div class="w-16">
     {%- if section.settings.logo != blank -%}

      <a href="/"><img src="{{section.settings.logo | image_url}}" alt="{{section.settings.logo.alt}}"></a>
     {%- else -%}
        <a href="/">{{ 'image' | placeholder_svg_tag  }}</a>
     {%- endif -%}
    </div></li>
    {% for link in linklists.main-menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}
        <li data-nested="{{forindex}}">
          <div class="relative">

          <p class="cursor-pointer menu">{{ link.title }}</p>


            <ul class="absolute opacity-0 nested-menu" >
            {% for childlink in linklists[child_list_handle].links %}

              <li>
                <a class="menu" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
              </li>
          {% endfor %}
          </ul>
            </div>
        </li>
      {% else %}
        <li>
          <a class="menu" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %}
    {% endfor %}


  </ul>
    </ul>
    <div>
      <div class="relative w-6">
       <a href="/cart"><img class="w-full" src="{{'cart-bag.svg' | asset_url}}" alt="cart icon"></a>
       <div class="absolute flex items-center justify-center w-5 h-5 text-xs text-center text-white border border-black rounded-full bg-main-accent -bottom-2 -right-1"><span >
        {%- if cart.item_count <= 0 -%}
          0
          {%- else -%}

        {{ cart.item_count }}
        {%- endif -%}
        </span>
        </div>
      </div>

      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li><a href="/account">account</a></li>
          {{ 'log out'  | customer_logout_link }}
        {% else %}
          {{ 'log in ' | customer_login_link }}
          {{ 'register' | customer_register_link }}
        {% endif %}
      {% endif %}
    </div>
  </nav>

</header>

<script defer>
  let nestedMenu = document.querySelectorAll("[data-nested]")
  console.log(nestedMenu)
  nestedMenu.forEach((menu, idx)=>{menu.addEventListener("click", ()=>{
    let nestedMenuWrapper = menu.querySelector(".nested-menu")
    nestedMenuWrapper.classList.toggle("opacity-100")
    console.log(nestedMenuWrapper)
  })})
</script>

{% schema %}
{
  "name":"Header",
  "tag":"header",
  "settings": [{
    "type":"image_picker",
    "id":"logo",
    "label":"Logo"
  }]
}
{% endschema %}