<div class="grid md:grid-cols-12 ">

  <div class="flex flex-col items-start justify-center row-start-2 gap-4 pt-8 md:justify-start md:col-span-2 md:col-start-1">
    <label class="flex flex-row items-baseline justify-center gap-1 md:hidden md:row-start-1 md:col-start-10 md:col-end-13 menu" for="sort-by">Sort by
    <select id="sort-by" class="h-6 p-0 pr-8 border-none w-28 menu text-ellipsis bg-inherit">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

      {% for option in collection.sort_options %}
        <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
  </label>
      {%- render 'filter' -%}

  </div>



  <h1 class="text-center md:col-start-4 md:col-end-10 h1 heading-text-color">Dice collections</h1>

  <label class="flex-row hidden md:flex md:row-start-1 md:gap-1 md:col-start-10 md:col-end-13 menu" for="sort-by">Sort by
    <select id="sort-by" class="h-6 p-0 pr-8 border-none menu text-ellipsis bg-inherit">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

      {% for option in collection.sort_options %}
        <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
  </label>
  <div class="md:row-start-2 md:col-start-3 col-span-full">
    {% paginate collection.products by 9 %}


      <div class="grid items-start grid-cols-1 auto-rows-fr md:grid-cols-2 lg:grid-cols-3 gap-x-20 justify-items-center">
        {% for product in collection.products %}

          {%- if product.available -%}
            <div class="flex flex-col justify-between w-48 h-full">
              {%- render 'ornament-top' -%}


              <a href=" {{ product.url | within: collection }} ">
                <img class="object-contain aspect-square" src="{{ product.featured_image.src | img_url: 'large' }}" data-product-image alt="{{ product.featured_image.alt | escape }}">
              </a>
              <div class="flex flex-col items-center justify-center gap-2 pt-5 text-center heading-text-color h2">
                <a class="text-3xl" href="{{ product.url | within: collection }}">{{ product.title }}</a>
                {%- unless product.available == false -%}
                  <p class="text-xl heading-text-color">{{ product.price | money }}</p>
                {%- endunless -%}
              </div>
              {%- render 'ornament-bottom' -%}
            </div>
          {%elsif collection.title == "Sold"%}
            <div class="flex flex-col justify-between w-48 h-full">
              {%- render 'ornament-top' -%}
              <a href=" {{ product.url | within: collection }} ">
                <img class="object-contain aspect-square" src="{{ product.featured_image.src | img_url: 'large' }}" data-product-image alt="{{ product.featured_image.alt | escape }}">
              </a>
              <div class="flex flex-col items-center justify-center gap-2 pt-5 text-center heading-text-color h2">
                <a class="text-3xl" href="{{ product.url | within: collection }}">{{ product.title }}</a>
                {%- unless product.available == false -%}
                  <p class="text-xl heading-text-color">{{ product.price | money }}</p>
                {%- endunless -%}
                <p class="text-xl">Sold</p>
              </div>
              {%- render 'ornament-bottom' -%}


            </div>
          {%- endif -%}
        {% endfor %}
      </div>
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    {% endpaginate %}

  </div>
</div>


<script>

  // const productImages = document.querySelectorAll("[data-product-image]");
// productImages.forEach((el, idx) => {
// el.src = {{ product.images[idx] | img_url: 'large' }};
// console.log({{product.images}})
// })

  Shopify.queryParams = {};

// Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

// Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>