{% if cart.item_count > 0 %}
  <h1 class="pb-8 h1 heading-text-color">Shopping Cart</h1>
  <form
    action="/cart"
    method="post"
    class="w-full"
    novalidate>
    <table class="w-full">
      <thead class="pb-5 text-left border-b body border-b-main-text h-fit">
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="text-left border-b body border-b-main-text h-fit">
            <td class="w-40 ">
              <a href="{{ item.url | within: collections.all }}">
                <img
                  class="w-full h-auto"
                  src=" {{ item | img_url: 'medium' }} "
                  alt=" {{ item.title | escape }} ">
              </a>
            </td>
            <td class="pl-10">
              <a class="font-semibold" href="{{ item.url }}">{{ item.product.title }}</a>

            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <p>{{ item.quantity }}</p>
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}
                {{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}
                {{ discount.title }}{% endfor %}
            </td>
            <td>
              <a
                class="inline-block w-8 -mt-2"
                href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                aria-label="remove">{%- render 'trashcan' -%}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="grid pt-5 md:grid-cols-3">
      <div class="w-full md:col-start-1">
        <p class="body body-text-color">
          Add a note to your order</p>
        <textarea class="w-full resize-none md:h-1/3 bg-main-primary" name="note"></textarea>
      </div>
      <div class="flex flex-col justify-center gap-4 md:col-start-3">
        <div class="">
          <p class="flex justify-between gap-5 heading-text-color h3">
            <span>Subtotal</span>
            <span>{{ cart.total_price | money }}</span>
          </p>
          <p class="flex justify-between gap-5 pb-4 border-b border-b-main-text heading-text-color h3">
            <span>Shipping</span>
            <span>50 kr</span>
          </p>
          <p class="flex justify-between gap-5 heading-text-color h3">
            <span>Total</span>
            <span>{{ cart.total_price | money | plus: 50 }} kr</span>
          </p>
        </div>
        <label class="flex items-center gap-2 body" for="terms">

          <input
            type="checkbox"
            name="terms"
            id="terms"
            required>
          I agree to<a class="text-main-accent-secondary" href="{{shop.terms_of_service.url}}">Terms and Conditions</a>
        </label>
        <button
          type="submit"
          name="checkout"
          data-bg-button="primary"
          class=" w-60 btn-primary btn-grid"
          data-generate>
          <div class="grid-area">
            {%- render 'button-main' -%}
          </div>
          <span class="pointer-events-none grid-area">
            Checkout</span>
        </button>
      </div>
    </div>
  </form>
{% else %}
  <div class="flex flex-col items-center justify-center w-full h-[50vh]">
    <h2 class="h1 heading-text-color">Shopping Cart</h2>
    <span class="h2 heading-text-color">Cart is empty</span>
  </div>
{% endif %}

<style>
  td {
    padding-block: 40px;
    vertical-align: top;
  }
</style>