{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="grid grid-cols-2 gap-16">
  <div class="grid grid-cols-3">

    <ul class="col-span-1 col-start-1">
      {% for image in product.images %}
        <li>
          <a href="{{ image.src | img_url: 'large' }}">
            <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
          </a>
        </li>
      {% endfor %}
      <li class="-spin-studio-active-wrapper">
        <img id="-spin-studio-large-thumb" data-product="{{ product.id }}" class="-spin-studio-large-thumb"/>
      </li>
    </ul>
    <div class="col-span-2 col-start-2 place-self-center">

      <img class="object-cover w-full" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
    </div>
  </div>
  {% assign c = product %}
  {%include "product-details" with c%}
</div>


{% schema %}
  {
    "name": "Main product",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Button"
      }, {
        "type": "text",
        "label": "Add to cart text",
        "id": "add_to_cart_text",
        "default": "add to cart"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}