<section class=" mx-5 md:mx-[20%]">

  <h1 class="h1 heading-text-color">{{ article.title }}</h1>
  {% capture author %}
    <strong class="body-text-color">{{ article.author }}</strong>
  {% endcapture %}
  {% capture date %}
    <time class="body-text-color" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
  {% endcapture %}
  {{ article.author }} @ {{ article.created_at }}

  <div class="body-text-color">
    {{ article.content }}</div>

</section>

<style>
  img {
    margin-inline: auto;
    margin-block: 2rem;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
</style>