{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

  <div class="grid gap-16 md:grid-cols-2">
  <div class="grid md:grid-cols-3">

    {% if section.settings.title != blank %}
      <div class="grid grid-cols-3 pb-4 justify-items-center">
        <h2 class="col-start-2 h3 heading-text-color">{{ section.settings.title | escape }}</h2>
        <a class="col-start-3" href="">Hej</a>

      </div>
    {% endif %}

    <div class="flex items-center gap-3 md:flex-col ">
      <button data-direction="up" class="hidden rotate-180 bg-contain md:block bg-small-arrow w-9 h-9"></button>
      {%- assign images = product.images -%}
      <ul data-thumbnail-container class="md:col-start-1 px-10 space-y-4 overflow-y-auto scroll-smooth no-scrollbar gap-3col-span-1 h-[60vh]">
        {% if images != blank %}
          {% for image in images %}
            <li class="cursor-pointer">
              <img src="{{image | image_url}}" alt="{image.tag}">
            </li>
          {% endfor %}
        {% endif %}
        <li
          class="cursor-pointer -spin-studio-active-wrapper">
          <img
            id="-spin-studio-large-thumb"
            data-product="{{ product.id }}"
            class="-spin-studio-large-thumb" />
        </li>
      </ul>
      <button data-direction="down" class="hidden bg-contain md:block bg-small-arrow w-9 h-9"></button>
    </div>

    <div class="hidden col-span-2 col-start-2 md:block place-self-center">
      <img
        data-featured
        class="object-cover w-full"
        src="{{ featured_image | img_url: 'large' }}"
        alt="{{ featured_image.alt | escape }}"
        id="ProductPhotoImg">

    </div>
  </div>

  {%- comment -%}
  - PRODUCT DETAILS
  {%- endcomment -%}{% assign c = product %}
  {% include "product-details" with c %}
</div>

<script>
  const thumbnails = [...document.querySelectorAll("ul li img")]
  const mainImage = document.querySelector("[data-featured]")

  const sliderBtns = [...document.querySelectorAll("[data-direction")]
  const thumbnailContainer = document.querySelector("[data-thumbnail-container]");
  console.log(thumbnailContainer.scrollHeight)

  const spin = document.querySelectorAll(".-spin-studio-active-wrapper");


  thumbnails.forEach((el, idx) => {
    el.addEventListener("click", (e) => {
      console.log(e)
      if (!e.target.getAttribute("data-product")) {
        mainImage.classList.remove("!hidden")
        mainImage.src = e.target.src
      } else {
        mainImage.classList.add("!hidden");
        console.log(spin[1])
        spin[1].classList.remove("!hidden");



      }
    })
  })

  sliderBtns.forEach((el, idx) => {
    el.addEventListener("click", (e) => {
      if (e.target.getAttribute('data-direction') === "up") {
        thumbnailContainer.scrollTop -= (thumbnailContainer.scrollHeight / thumbnails.length)
      } else if (e.target.getAttribute('data-direction') === "down") {
        thumbnailContainer.scrollTop += (thumbnailContainer.scrollHeight / thumbnails.length)
      }
    })
  })
</script>



{% schema %}
  {
    "name": "Main product",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Button"
      }, {
        "type": "text",
        "label": "Add to cart text",
        "id": "add_to_cart_text",
        "default": "add to cart"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}