<div class="grid  gap-5 text-image-container auto-rows-min md:auto-rows-fr items-center {% if section.settings.show-image %} md:grid-cols-2 {% else %}md:grid-cols-4 {%endif%}">

  {%- if section.settings.show-image -%}
    <div class=" flex justify-center items-center overflow-hidden {% if section.settings.alt-dir %} order-2 {% endif %} [&>img]:object-cover [&>img]:w-full">
      {% if section.settings.image == blank %}
        {{ 'lifestyle-1' | placeholder_svg_tag }}
      {% else %}

        {{ section.settings.image | image_url: width: 1000 | image_tag: class: 'object-cover h-96 ', alt: section.settings.image.alt }}
      {% endif %}
    </div>
  {%- endif -%}



  <div class="flex flex-col justify-between items-center  {% if section.settings.alt-dir %}  order-1 {% endif %}">
    <div class="w-full h-20 bg-center bg-no-repeat bg-contain bg-ornament-product "></div>
    <div class="flex flex-col items-center justify-center gap-1 px-2 py-1 md:px-20 md:py-16">
      {% for block in section.blocks %}
        <h2 class="h1 heading-text-color {{block.settings.title-position}}">{{ block.settings.title }}</h2>
      {% endfor %}

      {% for block in section.blocks %}
        <p class="body body-text-color {{block.settings.body-text-position}}">{{ block.settings.description }}</p>
      {% endfor %}

      {% for block in section.blocks %}
        {% if block.settings.button_link %}
          {%- render 'button' block: block -%}
        {% endif %}
      {% endfor %}
    </div>

    <div class="w-full h-20 rotate-180 bg-center bg-no-repeat bg-contain bg-ornament-product"></div>
  </div>
</div>

{% style %}
  .text-image-container {
    padding-top: {{ section.settings.padding_top }}
    px;
    padding-bottom: {{ section.settings.padding_bottom }}
    px;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Text and image",
    "max_blocks": 3,
    "settings": [
      {
        "type": "image_picker",
        "label": "Your image",
        "id": "image"
      },
      {
        "type": "checkbox",
        "id": "show-image",
        "label": "Show image?",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "A section for displaying an image and text beside each other. Choose between directions and wether or not it should have a link button"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 16
      }, {

        "type": "range",
        "id": "padding_bottom",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 16


      }, {
        "type": "checkbox",
        "id": "alt-dir",
        "label": "Alternate direction",
        "default": false
      }
    ],
    "blocks": [
      {
        "name": "Button",
        "type": "button",
        "settings": [
          {
            "type": "header",
            "content": "Link"
          },
          {
            "type": "paragraph",
            "content": "Choose to show a link and set the label and URL"
          },
          {
            "type": "checkbox",
            "id": "button_link",
            "label": "Link",
            "default": true
          },
          {
            "type": "url",
            "id": "url",
            "label": "Button link"
          }, {
            "type": "text",
            "label": "Label for button",
            "id": "button_label",
            "default": "Click me"
          }, {
            "type": "select",
            "id": "button_variant",
            "label": "Button variant",
            "options": [
              {
                "value": "primary",
                "label": "Primary"
              }, {
                "value": "secondary",
                "label": "Secondary"
              }, {
                "value": "minimal",
                "label": "Minimal"
              }
            ],
            "default": "primary"
          }, {

            "type": "range",
            "id": "button_width",
            "min": 10,
            "max": 20,
            "step": 1,
            "label": "Width",
            "default": 12
          }, {

            "type": "range",
            "id": "button_margin",
            "min": 0,
            "max": 40,
            "step": 4,
            "unit": "px",
            "label": "Margin",
            "default": 4


          }, {
            "type": "select",
            "id": "button-position",
            "label": "Button position",
            "options": [
              {
                "value": "self-start",
                "label": "Left"
              }, {
                "value": "self-center",
                "label": "Center"
              }, {
                "value": "self-end",
                "label": "Right"
              }
            ]
          }

        ]
      }, {
        "name": "Title",
        "type": "heading",
        "settings": [
          {
            "type": "text",
            "label": "Headline for the page",
            "id": "title",
            "default": "Lorem ipsum"
          }, {
            "type": "select",
            "id": "title-position",
            "label": "Title position",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              }, {
                "value": "text-center",
                "label": "Center"
              }, {
                "value": "text-right",
                "label": "Right"
              }
            ]
          }
        ]
      }, {
        "name": "Description",
        "type": "textarea",
        "settings": [
          {
            "type": "textarea",
            "label": "Desciption",
            "id": "description",
            "default": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti praesentium iure dolorem exercitationem omnis voluptates assumenda expedita ducimus. Placeat doloremque quisquam, beatae fuga eum quod illum recusandae quibusdam, iure aliquid dolore hic expedita "
          }, {
            "type": "select",
            "id": "body-text-position",
            "label": "Body text position",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              }, {
                "value": "text-center",
                "label": "Center"
              }, {
                "value": "text-right",
                "label": "Right"
              }
            ]
          }
        ]

      }
    ],
    "presets": [
      {
        "name": "Text and image",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "textarea"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}